#bot config

TOKEN = ''
API_ID = ''
API_HASH = ''
stripe_token = {
    "TEST": "",
    "LIVE": ""
}

sudos = [
    652890017,
    123892996,
    200097591
]

cache_chat = 

#Musixmatch config

MUSIXMATCH_KEYS = []

#spoti config

BASIC = ''
CLIENT_ID = ''

#lfm config

KEY = ''

BROWSER = 'firefox'

login_url = ("https://accounts.spotify.com/authorize?response_type=code&"
            + f"client_id={CLIENT_ID}&"
            + "scope=user-top-read+user-read-currently-playing+user-read-recently-played+user-modify-playback-state+user-read-playback-state+user-read-private+user-read-email+user-library-read&"
            + "redirect_uri=https://lyricspy.amanoteam.com/go")
