import amanobot.aio
import asyncio

loop = asyncio.get_event_loop()

sudos = [652890017,
         123892996,
         200097591
         ]

plgns = ['handle', 'callback','inline','chosen']

keys = {
    'token': '',  # key of telegram-api
    'basic': '',  # encrypt 'client_id:client_secret' in base64
    'client_id': '',  # get in https://developer.spotify.com/
    'client_secret': ''  # https://developer.spotify.com/
}

bot = amanobot.aio.Bot(keys['token'])
